<div>
	<header>
		<h1>Todo List</h1>

		<form class="new-task" data-ng-submit="vm.methods.addTask(vm.newTask)">
	    	<input ng-model="vm.newTask" type="text" name="text" placeholder="Type to add new tasks"/>
	  	</form>
	  
	</header>

	<div>
		<ul>
		  <li data-ng-repeat="task in vm.tasks">
		    <input type="checkbox" id="chkbx_{{$index}}" data-ng-model="vm.variables.selected[task._id]" data-ng-change="vm.methods.completeTask(task._id,vm.variables.selected[task._id])"/>
		    <label for="chkbx_{{$index}}" data-ng-bind="task.text">
		    </label>
		  </li>
		</ul>
	</div>
</div>


